<table class="table ">
  <thead>
  <tr>
    <th>Name</th>
    <th>Section</th>
    <th>Difficulty</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @rivers.each do |river| %>
      <tr>
        <td><%= river.name %></td>
        <td><%= river.section %></td>
        <td><%= river.difficulty %></td>
        <td><%= river.state %></td>
        <% if admin? %>
            <td><%= link_to 'Edit', edit_river_path(river) %></td>
            <td><%= link_to 'Delete', river, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <td><%=link_to 'Favorite', relationship_create_path(river.id)%> </td>
      </tr>
  <% end %>
  </tbody>
</table>