<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "River Tracker", root_path, id: "logo" %>
    <small class="text-muted">alpha</small>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Rivers", rivers_path %></li>
        <% if logged_in? %>
            <% if admin? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Admin Tools
                    <b class="caret"></b>
                  </a>
                  <%= render 'shared/admin_tools' %>
                </li>
            <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account
                    <b class="caret"></b>
                  </a>
                  <%= render 'shared/user_tools' %>
                </li>
            <% end %>
        <% else %>
            <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>