<!DOCTYPE html>
<html>
<head>
  <title>RiverTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= render 'layouts/header' %>
  <% if !flash[:success].nil? %>
    <div class="alert alert-success">
      <%= flash[:success]  %>
    </div>
  <% end %>
  <% if !flash[:warning].nil? %>
      <div class="alert alert-warning">
        <%= flash[:warning]  %>
      </div>
  <% end %>
  <% if !flash[:error].nil? %>
      <div class="alert alert-danger">
        <%= flash[:error]  %>
      </div>
  <% end %>
<%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
